---
layout: base.njk
permalink: /blog/
eleventyExcludeFromCollections: true
title: Redirecting
seoTitle: "Redirecting to The Pit | 0stakes"
description: This page has moved to The Pit.
redirectTo: /the-pit/
---
<p>The blog has moved. Continue to <a href="/the-pit/">The Pit</a>.</p>
